# Step1 - Import Library

In [1]:
import pandas as pd

# Step2 - Load Data

In [2]:
sub_df = pd.read_csv('/kaggle/input/titanic/test.csv')
sub_df.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

# Step3 - Create Prediction

In [3]:
sub_df['Survived'] = sub_df.Sex.map(lambda x: 1 if x=='female' else 0)
sub_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

# Step4 - Make Submission

In [4]:
sub_df = sub_df[['PassengerId', 'Survived']]
sub_df.to_csv('submission.csv',index=False)
sub_df.head(2)

   PassengerId  Survived
0          892         0
1          893         1